In [ ]:
#Answer to question 1

temp =[]

for i in range(1,11):
  num = i**2
  temp.append(i)
  temp.append(num)
print(tuple(temp))

(1, 1, 2, 4, 3, 9, 4, 16, 5, 25, 6, 36, 7, 49, 8, 64, 9, 81, 10, 100)

In [ ]:
#Answer to question 2

list_a = ['Name','ID','Email','Favourite Summer Fruits']
list_b = ['Mehrabul Islam', 21101334, "mehrabul.islam@g.bracu.ac.bd", ["Mango", "Lichi", "Watermelon"]]

my_identity = {}

for elem in range(len(list_a)):

  key = list_a[elem]
  value = list_b[elem]
  my_identity[key] = value

print("my_identity:", my_identity)

my_identity: {'Name': 'Mehrabul Islam', 'ID': 21101334, 'Email': 'mehrabul.islam@g.bracu.ac.bd', 'Favourite Summer Fruits': ['Mango', 'Lichi', 'Watermelon']}

In [ ]:
#Answer to question 3
my_identity = {'Name': 'Mehrabul Islam', 'ID': 21101334, 'Email': 'mehrabul.islam@g.bracu.ac.bd', 'Favourite Summer Fruits': ['Mango','Lichi','Watermelon']}

for key in my_identity.keys():
  print("key= ",key)
for val in my_identity.values():
  print("value= ",val)

for key,val in my_identity.items():
  print("items= ", key, val)

key=  Name
key=  ID
key=  Email
key=  Favourite Summer Fruits
value=  Mehrabul Islam
value=  21101334
value=  mehrabul.islam@g.bracu.ac.bd
value=  ['Mango', 'Lichi', 'Watermelon']
items=  Name Mehrabul Islam
items=  ID 21101334
items=  Email mehrabul.islam@g.bracu.ac.bd
items=  Favourite Summer Fruits ['Mango', 'Lichi', 'Watermelon']

In [ ]:
#Answer to question 4

animals = ["Horse", "Elephant", "Tiger", "Lion", "Cheetah"]


animals.append("Bear")
print(animals)

animals.extend(["Rhino", "Zebra"])
print(animals)


animals.sort()
print(animals)


animals.pop(2)
print(animals)


index_num = animals.index("Tiger")
print(index_num)


animals.insert(3,"Giraffe")
print(animals)


animals.remove('Giraffe')
print(animals)

['Horse', 'Elephant', 'Tiger', 'Lion', 'Cheetah', 'Bear']
['Horse', 'Elephant', 'Tiger', 'Lion', 'Cheetah', 'Bear', 'Rhino', 'Zebra']
['Bear', 'Cheetah', 'Elephant', 'Horse', 'Lion', 'Rhino', 'Tiger', 'Zebra']
['Bear', 'Cheetah', 'Horse', 'Lion', 'Rhino', 'Tiger', 'Zebra']
5
['Bear', 'Cheetah', 'Horse', 'Giraffe', 'Lion', 'Rhino', 'Tiger', 'Zebra']
['Bear', 'Cheetah', 'Horse', 'Lion', 'Rhino', 'Tiger', 'Zebra']

In [ ]:
#Answer to question 5

def primes(num):
  print(num)
  number= int(num[-2:])
  
  temp=[]
  if number>1:
    for prime in range(2, number):
      flag = True

      for num in range(2,prime):
        if prime%num == 0:
          flag = False

      if flag:
        temp.append(prime)
    return set(temp)
      

primes("21101334")

21101334

{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}