In [ ]:
#TASK - 1(a)
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
factorial(3)

6

In [ ]:
#TASK - 1(b)
def fibonacci(n):
  if n==0 or n==1:                           #ALT:-- if n==0:
    return n                                        #   return 0
  a= fibonacci(n-1)+fibonacci(n-2)                  # elif n==1:                                                    
  return a                                          #    return 1
fibonacci(5)

5

In [ ]:
#TASK - 1(c)
def print_elem(arr,i=0):
  if i==len(arr):
    return
  print(arr[i])
  print_elem(arr,i+1)
print_elem([1,2,3,4])

1
2
3
4

In [ ]:
#TASK - 1(d)
def powerN(n,p=1):
  if p==0 or n==1:
    return 1
  a = n*powerN(n,p-1)
  return a
powerN(2,4)

16

In [ ]:
#TASK - 2(a)

def bin(n):
  if n==0:
    return 0
  a=n%2+bin(n//2)*10
  return a
bin(5)

101

In [ ]:
#TASK - 2a(ALT)

# def binary_num(n):
#   if n==0:
#     return ''
#   return binary_num(n//2)+ str(n%2)
# binary_num(5)

'101'

In [ ]:
#TASK - 2b
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None
class linklist:
    def __init__(self, array):
        self.head = None
        tail = None
        for x in array:
            new_node = Node(x)
            if self.head == None:
                self.head = new_node
                tail = new_node
            else:
                tail.next = new_node
                tail = new_node

    def sum_add(self, head):
        if head is None:
            return 0
        else:
            return head.value + self.sum_add(head.next)
    def sum(self):
        return self.sum_add(self.head)


array = [1, 2, 3, 4, 5, 6, 7]
listlinked = linklist(array)
print(listlinked.sum())

28

In [5]:
# TASK - 2(C)

class Node:
    def __init__(self,val,next):
        self.val=val
        self.next=next

class linked_list:
    def __init__(self,a):
        self.head=None
        tail=None
        for i in a:
            n=Node(i,None)
            if self.head==None:
                self.head=n
                self.tail=n
            else:
                self.tail.next=n
                self.tail=n
    def reverse_print(self,node):
        if node.next==None:
            self.head=node
            return
        else:
            self.reverse_print(node.next)
            n=node.next
            n.next=node
            node.next=None
    def printlist(self):
        n=self.head
        while n!=None:
            print(n.val)
            n=n.next
a=[1,2,3,4,5]        
b=linked_list(a)
b.reverse_print(b.head)
b.printlist()

5
4
3
2
1

In [17]:
# TASK - 2(C) -----------------FFFFFF

class Node:
  def __init__(self,val):
    self.val=val
    self.next=None
class Linkedlist:
  def __init__(self,arr):
    self.head=None
    tail=None
    for i in arr:
      new_node=Node(i)
      if self.head== None:
        self.head=new_node
        tail=new_node
      else:
        tail.next=new_node
        tail=new_node

  def reverse(self,head):
    if head.next == None:
      print (head.val,end="\n")
    else:
      self.reverse(head.next)
      print(head.val,end="\n")
  def reverse_arr(self):
    return self.reverse(self.head)
arr = [10, 20, 30, 40]
a = Linkedlist(arr)
a.reverse_arr()

40
30
20
10

In [ ]:
#TASK - 3
def house(n):
  if n==0:
    return
  elif n==1:
    return 8
  else:
    return 5+ house(n-1)
house(3)

18

In [1]:
#TASK - 4(a)

def palindrome(num10):
    if num10==0:
        return
    # print(num10)
    palindrome(num10-1)
    pattern(num10)
    print()
    
def pattern(num10):
    if num10==0:
        return
    pattern(num10-1)
    print(num10,end="")

palindrome(5)

1
12
123
1234
12345

In [21]:
#TASK - 4(b)

def rev_palindrome(num1,num2):
    if num1==0:
        return
    space(num1-1)
    pattern(num2-num1+1,1)
    print()
    rev_palindrome(num1-1,num2)
    
def space(number):
    if number == 0:
        return
    print(" ", end="")
    space(number-1)

def pattern(num1,num2):
    if num1==0:
        return
    print(num2,end="")
    pattern(num1-1,num2+1)

rev_palindrome(5,5)

    1
   12
  123
 1234
12345

In [23]:
#TASK - 5
class FinalQ:
    def print(self, array, idx):
        if(idx < len(array)):
            profit = self.calcProfit(array[idx])
            print(f"{str(idx+1)}. Investment: {array[idx]}; Profit: {profit} ")
            self.print(array, idx+1)

    def calcProfit(self, investment):
        if investment <= 25000:
            return 0.0
        elif investment > 25000 and investment <= 100000:
            return 45 + self.calcProfit(investment-1000)
        elif investment > 100000:
            return 80 + self.calcProfit(investment-1000)
        else:
            return 0


array = [25000, 100000, 250000, 350000]
f = FinalQ()
f.print(array, 0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0